.search-container {
    grid-area: pesquisar;
    width: calc(100% - 1rem);
    margin: 0 1rem;
}

@media screen and (min-width: 720px) {
    .search-container {
        width: calc(100% - 2.5rem);
    }    
}

@media screen and (min-width: 1440px) {
    .search-container {
        align-self: flex-end;
        width: calc(100% - 2.5rem);
    }
} 